@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-color: #BC986B transparent;
  scrollbar-width: thin;
}

body {
  background-color: #fafafa;
  color: #333;
  margin: 0;
  padding: 0;
}

/* custom.css */
.custom-container {
  width: 100%; /* Full width for extra-small screens */
  margin-left: auto; /* Center horizontally */
  margin-right: auto;
  padding-left: 1rem; /* Add padding */
  padding-right: 1rem;
}

/* Small screens (larger than mobile, starting from 640px) */
@media (min-width: 640px) {
  .custom-container {
    max-width: 540px; /* Reasonable width for small screens */
  }
}

/* Tablet screens (768px to 1024px) */
@media (min-width: 768px) {
  .custom-container {
    max-width: 720px; /* Reasonable max width for tablets */
  }
}

/* Laptop screens (1024px to 1440px) */
@media (min-width: 1024px) {
  .custom-container {
    max-width: 960px; /* Reasonable max width for laptops */
  }
}

/* Large desktops (1440px and above) */
@media (min-width: 1440px) {
  .custom-container {
    max-width: 1200px; /* Wider max width for large screens */
  }
}

.scroll_hidden {
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.under::after {
  content: "";
  display: block;
  width: 50%;
  height: 5px;
  border-radius: 10px;
  background: orange;
}
.nav_under::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: #BC986B;
}

.gradient-border {
  border-image: linear-gradient(
      to right,
      rgb(52, 188, 233),
      rgb(0, 0, 124),
      rgb(52, 188, 233)
    )
    1;
}

.scroll_hidden {
  scrollbar-width: none;
}

.header {
  @apply text-3xl md:text-4xl lg:text-5xl cursor-default;
}
.section_title {
  @apply text-xl md:text-2xl lg:text-3xl cursor-default;
}
.body_text {
  @apply text-base md:text-lg lg:text-xl cursor-default;
}
.normal_text {
  @apply text-sm md:text-base lg:text-lg
}
.small_text {
  @apply text-xs md:text-sm lg:text-base cursor-default;
}
